* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 0;
}
#display {
    width: 60%;
    margin: auto;
}